.about-section {
  width: 100%;
  min-height: calc(70vh - 4rem); /* subtrai o padding vertical */
  padding: 2rem 3rem;
  margin: 0;
  text-align: center;
  background: #1c1a2eae;
  box-sizing: border-box; /* inclui padding na altura total */
}

.about-section h2 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #f01cf0c3;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  text-align: left;
}

.about-text {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.713);
  text-align: justify;
}

.about-skills {
  flex: 1;
}

.about-skills h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ff00ff85;
  padding-left: 60px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.skill-tag {
  font-size: 15px;
  background-color: #9d59b12d;
  color: #ffffffd6;
  padding: 0.5rem 1.9rem;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid #363467;
}

@media (max-width: 768px) {
  .about-section {
    width: 100%; /* Mantém a largura de 90% em telas menores */
    padding: 2rem 1rem; /* Reduz o padding lateral em telas menores */
  }
  .about-section h2 {
    font-size: 1.9rem;
    margin-bottom: 2rem;
  }
  .about-text {
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
    margin-bottom: 0;
  }

  .about-skills h3 {
    font-size: 19px;
    padding-left: 3px;
    margin-top: 0;
  }
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Cria 2 colunas com larguras iguais */
    gap: 1.5rem; /* Adiciona um espaço entre os botões */
    margin: 0 auto; /* Centraliza o grid */
  }

  .skill-tag {
    font-size: 0.9rem; /* Ajustei a unidade para ficar legível */
    font-weight: 700;
  }
}
