.about-section {
  width: 100%;
  min-height: calc(54vh - 4rem); /* subtrai o padding vertical */
  padding: 2rem 3rem;
  margin: 0;
  text-align: center;
  background: #1c1a2eae;
  box-sizing: border-box; /* inclui padding na altura total */
  margin-top: 4rem;
}

.about-section h2 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: #ffffff;

  padding-right: 50rem;
  white-space: nowrap; /* evita quebra de linha */
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  text-align: left;
}

.about-text {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.713);
  text-align: justify;
}

.about-skills {
  flex: 0.5;
}

.about-skills h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ffffff;
  padding-left: 60px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.skill-tag {
  font-size: 15px;
  background-color: rgba(255, 0, 255, 0.15);
  color: #ffffff;
  padding: 0.5rem 1.9rem;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid rgba(255, 0, 255, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;
}

.skill-tag:hover {
  background-color: rgba(255, 0, 255, 0.3);
  border-color: rgba(255, 0, 255, 0.7);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(255, 0, 255, 0.3);
}

@media (max-width: 768px) {
  .about-section {
    width: 100%; /* Mantém a largura de 90% em telas menores */
    padding: 2rem 1rem; /* Reduz o padding lateral em telas menores */
    margin-top: 0rem;
  }
  .about-section h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    padding-right: 0;
    text-align: center;
    white-space: nowrap;
  }
  .about-text {
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
    margin-bottom: 0;
  }
  .about-skills {
    flex: 1;
  }
  .about-skills h3 {
    font-size: 19px;
    padding-left: 3rem;
    margin-top: 0;
  }
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Cria 2 colunas com larguras iguais */
    gap: 1.5rem; /* Adiciona um espaço entre os botões */
    margin: 0 auto; /* Centraliza o grid */
  }

  .skill-tag {
    font-size: 0.9rem; /* Ajustei a unidade para ficar legível */
    font-weight: 700;
  }
}
