.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  color: rgb(214, 66, 255);
  z-index: 1000;
  background-color: rgba(67, 21, 77, 0.763);
  backdrop-filter: blur(20px);
}

.logo-container h1 {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin: 0;
  color: #fcf8ff;
  padding-left: 50px;
}

.nav-links ul {
  display: flex;
  gap: 1.2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  padding: 0.6rem 2rem;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  background: transparent;
  color: rgba(255, 255, 255, 0.823);
  border: 1px solid rgba(255, 255, 255, 0.137);
}

.nav-links a:hover {
  border: 1x solid #ff00ff30;
  background: rgba(255, 0, 255, 0.1);
  color: #ffffff;
  transform: translateY(-2px);
}

/* --- Código para Mobile --- */
/* Media query para telas com no máximo 768px de largura */
@media (max-width: 768px) {
  .header {
    padding: 1.4rem 1rem;
  }

  .logo-container h1 {
    font-size: 1.1rem;
    padding-left: 1px;
  }

  .nav-links ul {
    gap: 1rem;
  }

  .nav-links a {
    font-size: 0.7rem;
    padding: 0.6rem 0.8rem;
    font-weight: 600;
  }
}
